<h1>Register</h1>  
  
<%= form_for @admin do |f| %>  
  <% if @admin.errors.any? %>  
    <div class="error_explanation">  
      <h2>Form is invalid</h2>  
      <ul>  
        <% for message in @admin.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>  
    <%= f.label :email %><br />  
    <%= f.text_field :email %>  
  </p>  
  <p>  
    <%= f.label :password %><br />  
    <%= f.password_field :password %>  
  </p>  
  <p>  
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>  
  </p>  
  <p class="button"><%= f.submit %></p>  
<% end %>  