.admin_menu
  .title Admin Panel
  .item.events= link_to "Events", "/admin/events"
  .item.users= link_to "Users", "/admin/users"
  .item.applications= link_to "Applications", "/admin/applications"
  .item.speakers= link_to "Speakers", "/admin/speakers"
  .item.tv= link_to "TV", "/admin/tv"
  .item.competition= link_to "Competition", "/admin/competition"
  //.item= link_to "Sponsors", "/admin/sponsors"