.admin_menu
  .title Admin Panel
  .item= link_to "Events", "/admin/events"
  .item= link_to "Users", "/admin/users"
  .item= link_to "Finance", "/admin/finance"
  .item= link_to "TV", "/admin/tv"
  .item= link_to "Wiki", "/wiki"