.admin_menu
  .title Admin Panel
  .item.events= link_to "Events", "/admin/events"
  .item.users= link_to "Users", "/admin/users"
  .item.speakers= link_to "Speakers", "/admin/speakers"
  .item.tv= link_to "TV", "/admin/tv"
  .item= link_to "Wiki", "/wiki"