.wrapper
  = render :partial => 'menu'

  .admin_container.applications
    .create= link_to "Create Application Cycle", new_application_cycle_path
    %h1 Application Cycles
    %table
      %tbody
        %tr
          %th Name
          %th End date
          %th Description
          %th Apps #
          %th
        -@application_cycles.each do |app|
          %tr
            %td= app.name
            %td= app.end_date ? app.end_date.strftime("%c") : "-"
            %td= app.description
            %td= app.applications.count
            %td= link_to "Open", app
