.wrapper
  = render :partial => 'menu'

  .admin_container.events
    .create= link_to "Create Event", "/events/new"
    %h1 Events (#{@events.count})
    %table
      %tbody
        %tr
          %th Name
          %th Location
          %th Date
          %th Speakers
          %th
        - @events.each do |event|
          %tr
            %td
              -if event.published == false
                %img( src='/assets/lock.png')
                = event.name
              -else
                = event.name
            %td= event.location
            %td= event.datetime ? event.datetime.strftime('%A, %b. %d %Y') : ""
            %td= event.speakers.count
            %td= link_to "Edit Event", "/events/#{event.id}/edit"