.wrapper
  = render :partial => 'menu'

  .admin_container.speakers
    .create= link_to "+ Add Speaker", "/speakers/new"
    %h1 Speakers (#{@speakers.count})
    %table
      %tbody
        %tr
          %th Name
          %th Email
          %th Event
          %th Short Bio
          %th Twitter
          %th Talk Title
          %th
        - @speakers.each do |speaker|
          %tr
            %td.name= speaker.name
            %td.email= speaker.email
            %td.event= speaker.event ? speaker.event.name : ""
            %td.bio= speaker.short_bio
            %td.twitter= speaker.twitter
            %td.title= speaker.talk_title
            %td= link_to "Show", "/admin/speakers/#{speaker.id}"
