.wrapper
  = render :partial => 'menu'

  .admin_container.speakers
    .create= link_to "+ Add Speaker", "/speakers/new"
    %h1 Speakers (#{@speakers.count})
    %table
      %tbody
        %tr
          %th Name
          %th Email
          %th Event
          %th Talk Title
          %th Public
          %th Status
          %th
        - @speakers.each do |speaker|
          %tr
            %td.name= speaker.name
            %td.email= speaker.email
            %td.event= speaker.event ? speaker.event.name : ""
            %td.title= speaker.talk_title
            %td.public= speaker.public ? "Published" : "Private"
            %td.status= speaker.status_percentage
            %td= link_to "Show", "/admin/speakers/#{speaker.id}"
