.wrapper
  = render :partial => 'menu'

  .admin_container.users
    .detail
      %img( src='/assets/TEDxer_empty.png' )
      %h5 Select a User...
    %hr.border
    .index
      .header_row
        .label.name Name
        .label.email Email
        %span.count= "#{@users_number} users"
      - @users.each do |user|
        .user{'data-id' => "#{user.id}"}
          .name= user.name
          .email= user.email
          = link_to "", user, confirm: 'Are you sure?', method: :delete, :class => "close"
          