.wrapper
  = render :partial => 'menu'

  .admin_container.users
    .title Users (#{@users_number})
    .header_row
      .label.name Name
      .label.email Email
      .label.affiliation Affiliation
      .label.year Year
      .label.status Status
    - @users.each do |user|
      .user
        .name= user.name
        .email= user.email
        .affiliation= user.affiliation
        .year= user.year
        - if user.admin == 'a'
          .admin Team
        -else
          .admin User
          =link_to "A!", promote_users_path(:user_id => user.id)
        .delete=link_to 'D', user, confirm: 'Are you sure?', method: :delete
        