<div class="wrapper padded">
  <%= render "menu" %>
  
  <div class="admin_container speakers">
    <h1>Competition Votes (<%= Vote.count %>)</h1>

    <table>
      <thead>
        <tr>
          <th></th>
          <% @student_speakers.each do |s| %>
            <th><%= s.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Total Votes</td>
          <% @student_speakers.each do |s| %>
            <td><%= s.votes_count %></td>
          <% end %>
        </tr>
        
        <tr>
          <td>Last day</td>
          <% @student_speakers.each do |s| %>
            <td><%= s.votes.where("created_at >= ?", Time.now - 24.hours).count %></td>
          <% end %>
        </tr>
        
        <tr>
          <td>Last hour</td>
          <% @student_speakers.each do |s| %>
            <td><%= s.votes.where("created_at >= ?", Time.now - 1.hours).count %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>