<div id="youtube-player">
  <iframe width="1000" height="563" src="http://www.youtube.com/embed/<%= youtube %>?rel=0&autoplay=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<div id="speaker-menu">
  <div class="name"><%= name %>, <b><%= votes %></b> Votes</div>
  <button class="vote" data-id="<%= id %>">Vote for <%= name.split(' ')[0] %></button>
</div>
