<a href="#<%= video.id %>" class="student-video" data-id="<%= video.id %>">
  <div class="student-info">
    <% if (video.rank) { %>
      <%= video.rank %>.
    <% } %>
    <%= video.name %>
  </div>
  <div class="student-image" style="background-image: url(<%= video.thumbnail %>)">
    <div class="image-cover"></div>
    <% if (type == 'leaders') { %>
      <div class="votes"><%= video.votes %></div>
    <% } else { %>
      <div class="play"></div>
    <% } %>
  </div>
</a>