<a href="#<%= id %>" class="student-video" data-id="<%= id %>">
  <div class="student-info">
    <% if (rank) { %>
      <%= rank %>.
    <% } %>
    <%= name %>
  </div>
  <div class="student-image" style="background-image: url(<%= thumbnail %>)">
    <div class="image-cover"></div>
    <div class="votes"><%= votes %></div>
  </div>
</a>