<div class="student_video" data-id="<%= id %>">
  <div class="student_image">
    <img src="<%= thumbnail %>"/>
    <div class="play" data-youtube="<%= youtube %>"></div>
  </div>
  <div class="student_info">
    <div class="student_name"><%= name %></div>
    <div class="student_talk"><%= talk %></div>
  </div>
</div>