<div class="conference-speaker" style="background-image: url('<%= speaker.get("thumbnail") %>'); background-position: <%= crop %>" data-id=<%= speaker.id %>>
  <div class="name white" data-id=<%= speaker.id %>><%= speaker.get('name') %></div>
</div>