<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>-->

      <% @user.errors.full_messages.each do |msg| %>
        <span class="form_error"><%= msg %>!</span>
      <% end %>
    </div>
  <% end %>
  
  <%= f.hidden_field :team, :value => "events" %>
  
  <div class="field">
    <span class="field_label">Full Name:</span><br/>
    <%= f.text_field :name, :class => "field_input_events" %>
  </div>
  
  <div class="field">
    <span class="field_label">Email Address:</span><br/>
    <%= f.text_field :email, :class => "field_input_events" %>
  </div>
  
  <div class="field">
    <span class="field_label">Yale Affiliation and Year of Graduation</span><br/>
    <%= f.text_field :year, :class => "field_input_events" %>
  </div>
  
  <div class="field_check">
  	<span class="field_label">Which position(s) are you applying for?</span><br/>
  	<%= f.check_box 'exec' %><span class="field_label_check">Executive Director</span><br/>
  	<%= f.check_box 'conference_director' %><span class="field_label_check">Conference Director</span><br/>
  	<%= f.check_box 'salons_director' %><span class="field_label_check">Salons Director</span><br/>
  	<%= f.check_box 'speakers_director' %><span class="field_label_check">Speakers Director</span><br/>
  </div>
  
  <div class="field_text">
    <span class="field_label">In a few brief sentences, tell us who you are.</span><br/>
    <%= f.text_area :bio, :class => "field_textarea_events" %>
  </div>
  
  <div class="field_text">
    <span class="field_label">What is your favorite TED talk? Why?</span><br/>
    <%= f.text_area :ted_talk, :class => "field_textarea_events" %>
  </div>
  
  <div class="field_text">
    <span class="field_label">Who would you like to hear speak at TED?</span><br/>
    <%= f.text_field :speaker, :class => "field_speaker_events" %>
  </div>
  
  <div class="field_text_events">
  </div>
  
  <div class="field_text">
    <span class="field_label">What do you believe is the key to running a successful event? How would you make this happen?</span><br/>
    <%= f.text_area :question, :class => "field_textarea_events" %>
  </div>
  
  <div class="field_text">
    <span class="field_label">What experience have you had to qualify you for a position on the Events team?</span><br/>
    <%= f.text_area :experience, :class => "field_textarea_events" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Apply to Join the Team", :class => "events_submit_button"%>
  </div>
<% end %>