<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>-->

      <% @user.errors.full_messages.each do |msg| %>
        <span class="form_error"><%= msg %>!</span>
      <% end %>
    </div>
  <% end %>
  
  <%= f.hidden_field :team, :value => "production" %>
  
  <div class="field">
    <span class="field_label">Full Name:</span><br/>
    <%= f.text_field :name, :class => "field_input_production" %>
  </div>
  
  <div class="field">
    <span class="field_label">Email Address:</span><br/>
    <%= f.text_field :email, :class => "field_input_production" %>
  </div>
  
  <div class="field">
    <span class="field_label">Yale Affiliation and Year of Graduation</span><br/>
    <%= f.text_field :year, :class => "field_input_production" %>
  </div>
  
  <div class="field_check">
  	<span class="field_label">Which position(s) are you applying for?</span><br/>
  	<%= f.check_box 'stage_manager' %><span class="field_label_check">Stage Manager</span><br/>
  	<%= f.check_box 'set_designer' %><span class="field_label_check">Set Designer</span><br/>
  	<%= f.check_box 'lights_sound_director' %><span class="field_label_check">Lights & Sound Director</span><br/>
  	<%= f.check_box 'video_director' %><span class="field_label_check">Video Director</span><br/>
  	<%= f.check_box 'photographer' %><span class="field_label_check">Photographer</span><br/>
  </div>
  
  <div class="field_text">
    <span class="field_label">In a few brief sentences, tell us who you are.</span><br/>
    <%= f.text_area :bio, :class => "field_textarea_production" %>
  </div>
  
  <div class="field_text">
    <span class="field_label">What is your favorite TED talk? Why?</span><br/>
    <%= f.text_area :ted_talk, :class => "field_textarea_production" %>
  </div>
  
  <div class="field_text">
    <span class="field_label">Who would you like to hear speak at TED?</span><br/>
    <%= f.text_field :speaker, :class => "field_speaker_production" %>
  </div>
  
  <div class="field_text">
  	<span class="field_label">Please check all you are comfortable using:</span><br/>
  	<div class="checks_float">
		<%= f.check_box 'final_cut' %><span class="field_label_check">Final Cut Pro</span><br/>
		<%= f.check_box 'photoshop' %><span class="field_label_check">Photoshop</span><br/>
		<%= f.check_box 'lights' %><span class="field_label_check">Lights Equipment</span><br/>
	</div>
	<div class="checks_float">
		<%= f.check_box 'sound' %><span class="field_label_check">Sound Equipment</span><br/>
		<%= f.check_box 'video' %><span class="field_label_check">Video Equipment</span><br/>
	</div>
  </div>
  
  <div class="field_text" style="margin-top:-8px">
    <span class="field_label">TED is known for putting on incredible productions at its annual conferences. What would you bring to TEDxYale to ensure that the 2013 conference production is as good as it can be?</span><br/>
    <%= f.text_area :question, :class => "field_textarea_production" %>
  </div>
  
  <div class="field_text">
    <span class="field_label">What experience have you had to qualify you for a position on the Production team?</span><br/>
    <%= f.text_area :experience, :class => "field_textarea_production" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Apply to Join the Team", :class => "production_submit_button"%>
  </div>
<% end %>