<img class="home_banner" src="/assets/welcome.jpg"/>
<div class="subscribe_box">
	<div class="event_label_header">BE THE FIRST TO HEAR ABOUT WHAT WE'RE DOING</div>
	<hr class="event_label_line"/>
	<%= form_for(@user) do |f| %>
		<% if @user.errors.any? %>
			<div class="error_explanation">		
			<% @user.errors.full_messages.each do |msg| %>
			<%= msg %>.
			<% end %>
			</div>
	  <% end %>
	  
	  <%= f.hidden_field :team, :value => "subscribe" %>
	  
	  <%= f.hidden_field :year, :value => "subscription" %>
	  
	  <div class="subscribe_field">
		<span class="subscribe_field_label">Full Name:</span>
		<%= f.text_field :name, :class => "subscribe_input" %>
	  </div>
	  
	  <div class="subscribe_field">
		<span class="subscribe_field_label">Email Address:</span>
		<%= f.text_field :email, :class => "subscribe_input" %>
	  </div>
	  
	  <div class="subscribe_actions">
		<%= f.submit "Subscribe", :class => "subscribe_submit"%>
	  </div>
	<% end %>
</div>