.wrapper
  .event
    .nav
      .date
        %p.month= @event.datetime.strftime('%B')
        %p.day= @event.datetime.strftime('%e')
        %p.year= @event.datetime.strftime('%G')
    .middle
      %h1= @event.name
      .image
        -if @event.header.url(:large) != '/headers/large/missing.png'
          =image_tag @event.header.url(:large)
      .description= @event.description
      -if @speakers.count != 0
        .speakers
          %h3 Speakers
          - @speakers.each do |speaker|
            .speaker
              .image
                -if speaker.thumbnail.url(:small) != '/thumbnails/small/missing.png'
                  =image_tag speaker.thumbnail.url(:small)
              .details
                .name= speaker.name
                .bio= speaker.bio
                -if speaker.twitter != ''
                  .twitter
                    %img(src='/assets/twitter.png')
                    %a(href='https://twitter.com/#!/#{speaker.twitter}' target='_blank')= speaker.twitter
      .videos
    .menu
      .attend
        -if @event.datetime.past?
          .past Past Event
        -else
          / -if current_user
          /             -if @event.users.exists?(:id => current_user.id)
          /               %a.registered( href='/unregister?event_id=#{@event.id}&user_id=#{current_user.id}' )
          /                 %img( src='/assets/registered.png')
          /                 %span Registered
          /             -else
          = link_to "Register for this Event", "http://www.eventbrite.com/event/2877690249", :class => "register"
          //= link_to "Register for this Event", signup_attendees_path(:user_id => current_user.id, :event_id => @event.id, :checked_in => false), :method => :post, :class => "register"
          /-else
            /= link_to "Register for this Event", "/", :class => "register"
      .details
        .date= @event.datetime.strftime('%A, %B %e, %G')
        .time= @event.datetime.strftime('%l:%M %p')
        .location
          %h2= @event.location
          %h3=@event.location_address
          %h3= @event.location_city + ', ' + @event.location_state + ' ' + @event.location_zipcode
          %a( href='#{@event.location_url}') View Map
        -if current_user && current_admin
          .links
            %a( href='/events/#{@event.id}/edit' ) 
              %img( src='/assets/edit_event.png' )
              %span Edit This Event
            -if @event.published == false
              .published
                %img( src='/assets/lock.png')
                %span Unpublished
      