.wrapper
  =form_for @speaker do |f|
    %p Name:
    %p= f.text_field :name
    %p Email
    %p= f.text_field :email
    %p Bio
    %p= f.text_area :bio
    %p Event
    %p= f.select :event_id, options_from_collection_for_select(@events, :id, :name), :include_blank => true
    %p Twitter Link
    %p= f.text_field :twitter
    %p Thumbnail Upload
    %p= f.file_field :thumbnail
    %p= f.submit "Add Speaker"