<!DOCTYPE html>
<html>
<head>
  <title>TEDxYale</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "jquery", "main", "application" %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="TEDxYale" /> 
  <meta property="og:image" content="http://tedxyale.com/assets/logo.png" /> 
  <meta property="og:description" content="Yale's Hub of Innovation and Discovery" /> 
  <!--<script src="http://www.tedxyale.com/wp-content/themes/tedxyale/jquery.scrollTo-min.js"></script>-->
  <!--Get Cicky Code-->
  <!--<a title="Real Time Analytics" href="http://getclicky.com/66564752"><img alt="Real Time Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(66564752); }catch(e){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66564752ns.gif" /></p></noscript>-->
  <!--Google Analytics-->
  <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27010513-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
  </script>
</head>
<body>

<!--Header Start-->
<div class="header">
	<div id="header_container">
		<a href="/"><img src="/assets/logo.png" id="logo"/></a>
		<!--<a href="/you" class="header_item_link"><div class="header_item" id="item_you">YOU</div></a>-->
		<% if current_admin %>
		    <a href="/logout" class="header_item_link"><div class="header_item">Logout</div></a>
			<a href="/users" class="header_item_link"><div class="header_item"><%= current_admin.name %></div></a>
			<a href="/registration" class="header_item_link"><div class="header_item">Registration</div></a>
		<% else %> 
		<a href="/users" class="header_item_link"><div class="header_item">LOGIN</div></a>
		<% end %>
		<a href="/join" class="header_item_link"><div class="header_item" id="item_apply">JOIN THE TEAM</div></a>
		<a href="/salons" class="header_item_link"><div class="header_item" id="item_events">SALONS</div></a>-->
	</div>
</div>
<!--Header End-->

<!--Notices-->
<div class="join_explanation"><%= notice %></div>

<!--Body Start-->
<div class="container">
	<div id="body_container">
	<%= yield %>
	</div>
</div>
<!--Body End-->

<!--Footer Start-->
<!--<div class="footer">
	<div id="footer_container">
	</div>
</div>-->
<!--Footer End-->

<!--Gauges Script-->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f7a4d16613f5d66660000ee');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
<!--Gauges End-->

</body>
</html>
