<!DOCTYPE html>
<html>
<head>
  <title>TEDxYale</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "jquery", "scrollto", "application" %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="TEDxYale" /> 
  <meta property="og:image" content="/assets/fb_logo.jpg" /> 
  <meta property="og:description" content="Yale's Hub of Innovation and Discovery. TEDxYale is where students and professionals share their stories and experiences." /> 
  <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27010513-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
  </script>
</head>
<body>
<!--Facebook-->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '321791014603315', // App ID from the App Dashboard
      channelUrl : '//www.tedxyale.com/channel.html', // Channel File for x-domain communication
      status     : true, // check the login status upon init?
      cookie     : true, // set sessions cookies to allow your server to access the session?
      xfbml      : true  // parse XFBML tags on this page?
    });

    // Additional initialization code such as adding Event Listeners goes here

  };

  // Load the SDK's source Asynchronously
  // Note that the debug version is being actively developed and might 
  // contain some type checks that are overly strict. 
  // Please report such bugs using the bugs tool.
  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
</script>

<!--Header Start-->
<div class="header">
	<div id="header_container">
	  <a href="/" class="logo_link"><img src="/assets/tedxyale_logo.png" id="logo"/></a>
		<% if current_user %>
		  <% if current_admin %>
			  <a class="header_item_link">
		      <div class="header_item user">
		        <div class='name'>
		          <%= current_user.name %>
		          <div class="user_icon"><%= current_user.votes.count %></div>
		        </div>
		        <ul class="dropdown_menu">
  			      <li><a class="votes_left" href="/2013"><%= current_user.votes.count %> votes made</a></li>
  			      <li><a href="/admin/events">Admin</a></li>
  			      <li><a href="/wiki">Wiki</a></li>
  			      <li><a href="/logout">Logout</a></li>
  			    </ul>
  			  </div>
		    </a>
			<% else%>
			  <a class="header_item_link">
		      <div class="header_item user">
		        <div class='name'>
		          <%= current_user.name %>
		          <div class="user_icon"><%= current_user.votes_left %></div>
		        </div>
		        <ul class="dropdown_menu">
  			      <li><a class="votes_left" href="/2013"><%= current_user.votes_left %> votes left</a></li>
  			      <li><a href="/logout">Logout</a></li>
  			    </ul>
  			  </div>
		    </a>
			<% end %>
		<% elsif current_speaker %>
	    <a class="header_item_link">
	      <div class="header_item user">
	        <div class='name'>
	          <%= current_speaker.name %>
	        </div>
	        <ul class="dropdown_menu">
			      <li><a href="/speaker">Speaker Profile</a></li>
			      <li><a href="/logout">Logout</a></li>
			    </ul>
			  </div>
	    </a>
		<% else %> 
		<a href="/login" class="header_item_link"><div class="header_item login">LOGIN</div></a>
		<% end %>
		<a href="/about" class="header_item_link"><div class="header_item" id="item_events">ABOUT</div></a>
		<a href="/tv" class="header_item_link"><div class="header_item" id="item_events">TV</div></a>
		<a href="/events" class="header_item_link"><div class="header_item" id="item_events">EVENTS</div></a>
		<a href="/2013" class="header_item_link"><div class="header_item" id="item_2013">2013</div></a>
	</div>
</div>
<!--Header End-->

<!--Body Start-->
<div class="container">
	<%= yield %>
	<div class="padding"></div>
</div>
<!--Body End-->

<!--Footer Start-->
<div class="footer">
  <div class="footer_container">
    <div class="item_first">
      <a class="facebook" href="http://www.facebook.com/TEDxYale"><img src="/assets/facebook.png"/>Connect on Facebook</a>
      <a class="twitter" href="https://twitter.com/#!/TEDxYale"><img src="/assets/twitter.png"/>Follow on Twitter</a>
      <p> © TEDxYale 2012</p>
    </div>
    <div class="item">
      <div class="title">What is TEDx?<span>This independent TEDx event is operated under license from TED.</span></div>
      <p>In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxYale, where x = independently organized TED event. At our TEDxYale event, TEDTalks video and live speakers will combine to spark deep discussion and connection in a small group. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized.</p>
    </div>
</div>
<!--Footer End-->

<!--Gauges Script-->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f7a4d16613f5d66660000ee');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
<!--Gauges End-->

</body>
</html>
